* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-family: Tahoma, sans-serif;
}

body, html {
    min-height: 100vh;
}

@media screen and (max-width: 600px) {
    .inner-container {
        width: 100% !important;
    }
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}



.inner-container {
    width: 600px;
    padding: 1rem;
}

.messages {
    padding: 1rem;
    color: darkslateblue;
}

.messages:empty {
    display: none!important;
}

.insert-form {
    width: 100%;
    padding: .5rem;
    background: #cccccc;
    display: flex;
    flex-direction: column;
}

.insert-form div, label {
    width: 100%;
    display: block;
    padding: .5rem;
}

input {
    padding: .7rem .3rem;
    width: 100%;
    border: 1px solid darkslateblue;
}

button {
    background: darkslateblue;
    color: white;
    border: 0;
    padding: .5rem;
    cursor: pointer;
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem;
}

ul {
    list-style: none;
    display: block;
    width: 100%;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background: #cccccc;
    color: darkslateblue;
    margin: 2px 0;
    align-items: center;
}

.collapse-box {
    display: none;
}
.open {
    display: block;
}